<!DOCTYPE html>
<html lang="en">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>

    <div class="container form">
        <form action="{{url_for('predict')}}" method="post">
            <h1>Online or Offline are you?</h1>
           <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select name="" id="" class="dropdown" type="text" class="form-control">
                            <option value="" disabled selected style="display: none;">Universitas</option>
                            <option value="2">Universitas Internasional Batam</option>
                            <option value="0">Institut Teknologi Batam</option>
                            <option value="3">Universitas Putera Batam</option>
                            <option value="4">Universitas Universal</option>
                            <option value="1">Politeknik Batam</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <select name="" id="" class="dropdown" type="text" class="form-control">
                            <option value="" disabled selected style="display: none;">Jenis Program Studi</option>
                            <option value="0">Computing & Engineering</option>
                            <option value="1">Non Computing & Non Engineering</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="" id="" class="dropdown" type="text" class="form-control">    
                            <option value="" disabled selected style="display: none;">Kualitas Dosen Online</option>
                            <option value="0">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                            <option value="4">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="" id="" class="dropdown" type="text" class="form-control">
                            <option value="" disabled selected style="display: none;">Kepuasan Terhadap Infrastruktur Online</option>
                            <option value="0">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                            <option value="4">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="" id="" class="dropdown" type="text" class="form-control">
                            <option value="" disabled selected style="display: none;">Keluhan Fisik Selama Pembelajaran Online</option>
                            <option value="1">Kelelahan Mata</option>
                            <option value="10">Sakit Kepala</option>
                            <option value="14">Sering Mengantuk</option>
                            <option value="0">Badan Pegal</option>
                            <option value="17">Sulit Beristirahat</option>
                            <option value="20">Tidak Enak Badan</option>
                            <option value="19">Tidak Ada Keluhan / Tidak Ada Diatas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="" id="" class="dropdown" type="text" class="form-control">
                            <option value="" disabled selected style="display: none;">Kendala Selama Pembelajaran Online</option>
                            <option value="0">Kendala Internet</option>
                            <option value="4">Kendala Listrik</option>
                            <option value="6">Kendala Perangkat</option>
                            <option value="7">Tidak Ada Kendala / Tidak Ada Diatas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="" id="" class="dropdown" type="text" class="form-control">
                            <option value="" disabled selected style="display: none;">Performa Akademik Selama Pembelajaran Online</option>
                            <option value="0">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                            <option value="4">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="" id="" class="dropdown" type="text" class="form-control">
                            <option value="" disabled selected style="display: none;">Keluhan Psikis Selama Pembelajaran Online</option>
                            <option value="0">Bosan</option>
                            <option value="16">Stress</option>
                            <option value="8">Cemas</option>
                            <option value="12">Moody-an</option>
                            <option value="15">Patah Hati</option>
                            <option value="11">Depresi</option>
                            <option value="17">Tidak Ada Keluhan / Tidak Ada Diatas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="" id="" class="dropdown" type="text" class="form-control">
                            <option value="" disabled selected style="display: none;">Kepuasan Pembelajaran Online</option>
                            <option value="0">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                            <option value="4">5</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class"btnSubmit">Submit</button>
                    </div>
                </div>
                <div class="output">
                    <h3>Kamu lebih cocok belajar </h3>
                    {{ prediction_text }}
                </div>
            </div>
        </form>
    </div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>